@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #e5e5e5;
}

.wrapper {
  background: white;
  width: 1200;
  /* Дописать из Figma!!! box-shadow: ; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.navigation-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #756157;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.text {
  background-color: #81b3d3;
  background-image: url("../images/view/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.small {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.title-uppercase {
  text-transform: uppercase;
}

.small-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item-text {
  background-color: #83b3d3;
  color: white;
}

.advantages-title,
.advantages-title-square,
.advantages-title-road,
.advantages-title-tourists {
  text-transform: uppercase;
}

.advantages-title{
  background-color: #82b3d3;
}

.advantages-list {
  list-style: none;
}

.come {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.come-description {
  text-align: center;
}

.services-list {
  list-style: none;
  text-align: center;
}

.services-item {
  background-color: #83b3d3;
}

.services-description {
  background-color: #ffffff;
}

.services-title-house,
.services-title-food,
.services-title-box {
  text-transform: uppercase;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.subscribe {
  background-color: #83b3d3;
  background-image: url("../images/view/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

.subscribe-title {
  text-transform: uppercase;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.footer-logo {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: right;
}

.footer-phone {
   color: #000000;
   text-align: center;
}

.footer-social-list {
  list-style: none;
}

.catalog-filter-form {
  color: #ffffff;
  background-image: url("../images/view/mountain.jpg");
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.catalog-filter-item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}


.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: white;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link {
  color: white;
}

.catalog-filter-list {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.catalog-filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #83b3d3;
  color: white;
  text-transform: uppercase;
}


.newsletter-button {
  background-color: #83b3d3;
  color: white;
  text-transform: uppercase;
}

.product-list {
  list-style: none;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
  ;
}

.product-card-favorites {
  background-color: #83b3d3;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  list-style: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-list {
  list-style: none;
}


.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  list-style: none;
  text-decoration: none;
}

.pagination-item {
  background-color: #ffffff;
}
